### Import dependencies ###

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

#### Read data from https://www.bls.gov/emp/tables/emp-by-detailed-occupation.htm table ###

In [2]:
url="https://www.bls.gov/emp/tables/emp-by-detailed-occupation.htm"
df=pd.read_html(url)[0].iloc[:-1]
df

,2021 National Employment Matrix title,2021 National Employment Matrix code,Occupation type,"Employment, 2021","Employment, 2031","Employment distribution, percent, 2021","Employment distribution, percent, 2031","Employment change, 2021–31","Percent employment change, 2021–31","Occupational openings, 2021–31 annual average"
0,"Total, all occupations",00-0000,Summary,158134.7,166452.1,100.0,100.0,8317.4,5.3,19532.5
1,Management occupations,11-0000,Summary,11685.3,12569.2,7.4,7.6,883.9,7.6,1101.8
2,Top executives,11-1000,Summary,3447.8,3638.6,2.2,2.2,190.7,5.5,321.9
3,Chief executives,11-1011,Line item,283.9,263.3,0.2,0.2,-20.6,-7.3,17.7
4,General and operations managers,11-1021,Line item,3118.4,3328.2,2.0,2.0,209.8,6.7,300.4
...,...,...,...,...,...,...,...,...,...,...
1108,"Pump operators, except wellhead pumpers",53-7072,Line item,11.0,12.3,0.0,0.0,1.3,11.4,1.5
1109,Wellhead pumpers,53-7073,Line item,18.0,18.6,0.0,0.0,0.6,3.3,2.3
1110,Refuse and recyclable material collectors,53-7081,Line item,138.7,146.2,0.1,0.1,7.5,5.4,20.6
1111,"Tank car, truck, and ship loaders",53-7121,Line item,13.5,13.1,0.0,0.0,-0.3,-2.5,1.7
1112,"Material moving workers, all other",53-7199,Line item,25.0,26.0,0.0,0.0,1.1,4.3,3.5

### Separate the summary and line item data to view trends in code ###

In [3]:
summary_df=df.loc[df['Occupation type']=='Summary']
summary_df

,2021 National Employment Matrix title,2021 National Employment Matrix code,Occupation type,"Employment, 2021","Employment, 2031","Employment distribution, percent, 2021","Employment distribution, percent, 2031","Employment change, 2021–31","Percent employment change, 2021–31","Occupational openings, 2021–31 annual average"
0,"Total, all occupations",00-0000,Summary,158134.7,166452.1,100.0,100.0,8317.4,5.3,19532.5
1,Management occupations,11-0000,Summary,11685.3,12569.2,7.4,7.6,883.9,7.6,1101.8
2,Top executives,11-1000,Summary,3447.8,3638.6,2.2,2.2,190.7,5.5,321.9
6,"Advertising, marketing, promotions, public rel...",11-2000,Summary,914.9,980.4,0.6,0.6,65.5,7.2,86.3
8,Marketing and sales managers,11-2020,Summary,788.8,844.3,0.5,0.5,55.4,7.0,74.1
...,...,...,...,...,...,...,...,...,...,...
1084,Other transportation workers,53-6000,Summary,294.8,302.6,0.2,0.2,7.7,2.6,45.0
1087,Transportation service attendants,53-6030,Summary,125.8,126.8,0.1,0.1,0.9,0.7,19.8
1094,Material moving workers,53-7000,Summary,7395.7,7813.4,4.7,4.7,417.7,5.6,1171.1
1100,Laborers and material movers,53-7060,Summary,6334.3,6685.1,4.0,4.0,350.8,5.5,1035.4
1106,Pumping station operators,53-7070,Summary,32.1,33.9,0.0,0.0,1.8,5.8,4.2

In [4]:
line_df=df.loc[df['Occupation type']=='Line item']
line_df.to_csv("../outputs/line_items.csv")

### Create hierarchy of occupations based on rules ###

In [5]:
titles=df['2021 National Employment Matrix title']
codes=df['2021 National Employment Matrix code']
occupations=df['Occupation type']
p=-1
c=0

dict1={}
for title in titles:
    
# all occupations summary
    if c==0:
        
        dict1['title']=titles[c]
        dict1['code']=codes[c]
        dict1['occupation']=occupations[c]
        dict1['layer']='layer_1'
        dict1['children']=[]
        
    else:
        c_code=codes[c]
        c_title=titles[c]
        c_occupation=occupations[c]



        previous_code=codes[p]

        # print(f"Current Code: {c_code}")

        current_first_two=c_code.split("-")[0]
        # print(f"Current first two: {current_first_two}")

        current_last_four=c_code.split("-")[1]
        # print(f"Current last four: {current_last_four}")

        # print(f"Previous Code: {previous_code}")

        previous_first_two=previous_code.split("-")[0]
        # print(f"Previous first two: {previous_first_two}")

        d=0

        third_digit=current_last_four[0]
        last_two_digits=f"{current_last_four[2]}{current_last_four[3]}"
        # print (f"This is the last two digits {last_two_digits}")

        middle_digits=f"{current_last_four[0]}{current_last_four[1]}"
        last_digit=current_last_four[3]

        th_fo_fi_digits= f"{current_last_four[0]}{current_last_four[1]}{current_last_four[2]}"


    #         logic step 1
        if current_last_four == "0000":

            dict2={}
            dict2['title']=c_title
            dict2['code']=c_code
            dict2['occupation']=c_occupation
            dict2['layer']="layer2"
            dict2['group']=current_first_two
            dict2['children']=[]

            dict1['children'].append(dict2)

    #         logic step 2
        elif third_digit != 0 and last_two_digits =="00":

            dict3={}
            dict3['title']=c_title
            dict3['code']=c_code
            dict3['occupation']=c_occupation
            dict3['layer']="layer3"
            dict3['group']=current_first_two
            dict3['children']=[]
            dict3['m_digits']=middle_digits


            for child in dict1['children']:
                # print(child)
                if current_first_two == child['group']:
                    child['children'].append(dict3)
    #         logic step 3
    #         elif 'children' in dict1:
        else:
            for child in dict1['children']:

                for child2 in child['children']:

                    child2_m_digits=child2['m_digits']


                    if middle_digits== child2_m_digits:
                    # logic step 3A


                        if last_digit==0 and c_occupation==['Summary']:
                            dict4={}
                            dict4['title']=c_title
                            dict4['code']=c_code
                            dict4['occupation']=c_occupation
                            dict4['layer']="layer4"
                            dict4['group']=current_first_two
                            dict4['children']=[]
                            dict4['m_digits']=middle_digits
                            dict4['last_digit']=last_digit

                            child2['children'].append(dict4)


                        elif last_digit == 0 and c_occupation==['Line item']:
                            dict4={}
                            dict4['title']=c_title
                            dict4['code']=c_code
                            dict4['occupation']=c_occupation
                            dict4['layer']="layer4"
                            dict4['group']=current_first_two
                            dict4['children']=[]
                            dict4['m_digits']=middle_digits
                            dict4['last_digit']=last_digit

                            child2['children'].append(dict4)

                        elif last_digit != 0 :
                            dict4={}
                            dict4['title']=c_title
                            dict4['code']=c_code
                            dict4['occupation']=c_occupation
                            dict4['layer']="layer4"
                            dict4['group']=current_first_two
                            dict4['children']=[]
                            dict4['m_digits']=middle_digits
                            dict4['last_digit']=last_digit

                            child2['children'].append(dict4)

                        # if 'children' in child2 and middle_digits== child2_m_digits  and current_first_two == child2['group'] and child2['code']!=c_code:

                        for child3 in child2['children']:


                            child_last_four=child3['code'].split("-")[1]
                            child_thfofi=f"{child_last_four[0]}{child_last_four[1]}{child_last_four[2]}"
                            child_last_one=f"{child_last_four[3]}"
                            if child_thfofi==th_fo_fi_digits and 'children' in child3  and current_first_two == child3['group'] and child3['code']!=c_code and child_last_one=="0":
                                dict5={}
                                dict5['title']=c_title
                                dict5['code']=c_code
                                dict5['occupation']=c_occupation
                                dict5['layer']="layer5"
                                dict5['group']=current_first_two
                                dict5['children']=[]
                                dict5['m_digits']=middle_digits
                                dict5['last_digit']=last_digit

                                child3['children'].append(dict5)







            # print("-----------")



    c+=1
    p+=1
# dict1

In [6]:
df=pd.DataFrame(dict1)
df

,title,code,occupation,layer,children
0,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Management occupations', 'code': '1..."
1,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Business and financial operations o...
2,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Computer and mathematical occupatio...
3,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Architecture and engineering occupa...
4,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Life, physical, and social science ..."
5,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Community and social service occupa...
6,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Legal occupations', 'code': '23-000..."
7,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Educational instruction and library...
8,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Arts, design, entertainment, sports..."
9,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Healthcare practitioners and techni...
10,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Healthcare support occupations', 'c..."
11,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Protective service occupations', 'c..."
12,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Food preparation and serving relate...
13,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Building and grounds cleaning and m...
14,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Personal care and service occupatio...
15,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Sales and related occupations', 'co..."
16,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Office and administrative support o...
17,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Farming, fishing, and forestry occu..."
18,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Construction and extraction occupat...
19,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Installation, maintenance, and repa..."
20,"Total, all occupations",00-0000,Summary,layer_1,"{'title': 'Production occupations', 'code': '5..."
21,"Total, all occupations",00-0000,Summary,layer_1,{'title': 'Transportation and material moving ...

### Create occupation mapping hieratchy ###

In [7]:
ls=[]
titles=[]
# if 'children' in df:
# df['children']
for i,row in df.iterrows():
    # print(row['title'])
    # print(row['children']['title'])
    
    top_parent=row['title']
    parent2=row['children']['title']
    
    # print(type(row['children']['children']))
    # print ("----------")
    
    
    for child in range(len(row['children']['children'])):
        
        # print(child)

        # print(row['children']['children'][child]['title'])
        parent3=row['children']['children'][child]['title']
        # print(row['children']['children'][child]['children'])
#         print ("----------")
#         print ("----------")
#         print ("----------")
        for child2 in range(len(row['children']['children'][child]['children'])):
            # print(child2)
            # print(child2, row['children']['children'][child]['children'][child2]['title'])
            parent4=row['children']['children'][child]['children'][child2]['title']
            
            if len(row['children']['children'][child]['children'][child2]['children'])!=0:
                # print(row['children']['children'][child]['children'][child2]['children'])
                
                for child3 in range(len(row['children']['children'][child]['children'][child2]['children'])):
                    # print(f"---- {child3}: {row['children']['children'][child]['children'][child2]['children'][child3]['title']}")
                    parent5=row['children']['children'][child]['children'][child2]['children'][child3]['title']
                    dict={}
                    dict['top_parent']=top_parent
                    dict['second_level']=parent2
                    dict['third_level']=parent3
                    dict['fourth_level']=parent4
                    dict['fifth_level']=parent5
                    
                    ls.append(dict)
            else:
                    dict={}
                    dict['top_parent']=top_parent
                    dict['second_level']=parent2
                    dict['third_level']=parent3
                    dict['fourth_level']=parent4
                    dict['fifth_level']=parent4
                    ls.append(dict)
                
    # print("----------------")
pd.DataFrame(ls)

,top_parent,second_level,third_level,fourth_level,fifth_level
0,"Total, all occupations",Management occupations,Top executives,Chief executives,Chief executives
1,"Total, all occupations",Management occupations,Top executives,General and operations managers,General and operations managers
2,"Total, all occupations",Management occupations,Top executives,Legislators,Legislators
3,"Total, all occupations",Management occupations,Top executives,"Agents and business managers of artists, perfo...","Agents and business managers of artists, perfo..."
4,"Total, all occupations",Management occupations,Top executives,Buyers and purchasing agents,Buyers and purchasing agents
...,...,...,...,...,...
8543,"Total, all occupations",Transportation and material moving occupations,Material moving workers,Pumping station operators,Wellhead pumpers
8544,"Total, all occupations",Transportation and material moving occupations,Material moving workers,Gas compressor and gas pumping station operators,Gas compressor and gas pumping station operators
8545,"Total, all occupations",Transportation and material moving occupations,Material moving workers,"Pump operators, except wellhead pumpers","Pump operators, except wellhead pumpers"
8546,"Total, all occupations",Transportation and material moving occupations,Material moving workers,Wellhead pumpers,Wellhead pumpers
8547,"Total, all occupations",Transportation and material moving occupations,Material moving workers,Refuse and recyclable material collectors,Refuse and recyclable material collectors

In [8]:
pd.DataFrame(ls).to_csv("../outputs/map.csv")